<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-body-tertiary" data-bs-theme="dark"> 
    <div class="container-fluid">
      <%# <a class="navbar-brand" href="" id="logo">Twitter app</a> %>
      <%= link_to "Twitter app", root_path, id: "logo", class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </button>
      <%# <div class="nav justify-content-end" id="navbarSupportedContent" > %>
      <div class="nav collapse navbar-collapse" id="navbarSupportedContent" >
      <%# <div class="collapse navbar-collapse" id="navbarSupportedContent" > %>
        <%# <ul class="navbar-nav"> %>
        <%# <ul class="nav nav-underline"> %>
        <%# <ul class="nav nav-underline navbar-nav me-auto mb-2 mb-lg-0"> %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
            <%= link_to "Home", root_path, class: "nav-link text-black-emphasis link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Features</a> %>
            <%= link_to "Help", help_path, class: "nav-link link-light" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Features</a> %>
            <%= link_to "About", about_path, class: "nav-link link-light" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Features</a> %>
            <%= link_to "Contact", contact_path, class: "nav-link link-light" %>
          </li>
                    <li class="nav-item">
            <%# <a class="nav-link" href="#">Pricing</a> %>
            <%= link_to "Sing up", singup_path, class: "nav-link link-light" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Pricing</a> %>
            <%= link_to "Log in", "#", class: "nav-link link-light" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<%# <span>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</span> %>